/.idea
/.prettierrc
/.vscode
/ia
/Portugol
/Portugol10
/Portugol11
/Portugol12
/Portugol13
/Portugol14
/Portugol15
/Portugol16
/Portugol2
/Portugol3
/Portugol4.alg
/Portugol5
/Portugol6
/Portugol7
/Portugol8
/Portugol9
/PosterBoy.mp3
/Python1
/python10
/python11
/python12
/python13
/python14
/python15
/python16
/python17
/python18
/python19
/python2
/python20
/python21
/python22
/python23
/python24
/python25
/python26
/python27
/python28
/python29
/python3
/python30
/python31
/python32
/python33
/python34
/python35
/python36
/python37
/python38
/python39
/python4
/python40
/python41
/python42
/python43
/python44
/python45
/python46
/python47
/python48
/python49
/python5
/python50
/python51
/python52
/python53
/python54
/python55Jokenpo1
/python55v1
/python56
/python57
/python58
/python59
/python6
/python60
/python61
/python62
/python63
/python64
/python65
/python66
/python67
/python69
/python7
/python8
/python9
/pythonSLEEP
/teste